<!DOCTYPE html>
<html>
<head>
    <title>All Users</title>
</head>
<body>
    <h1>All Users</h1>
    <ul>
        <% users.forEach(function(user) { %>
            <li><%= users.name %></li>
        <% }); %>
    </ul>
</body>
</html>